.altura {
  height: 100px;
}

.botao {
  background: rgb(214, 214, 214);
  border: none;
  border-radius: 25px;
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.7) , 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
  color: rgb(50, 207, 207);
  font-size: 15px;
  letter-spacing: 2px;
  margin: 20px;
  min-width: 150px;
  padding: 15px 10px;
  text-transform: uppercase;
}

.botao:hover {
  box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7) ,
  inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  width: 1100px;
}

.container .card {
  background: rgb(214, 214, 214);
  border-radius: 40px;
  box-shadow: -7px -7px 20px 0 white , 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 40px 30px;
  width: 320px;
}

.container .card:hover {
  box-shadow: inset -7px -7px 20px 0 white , inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.container .card .imgBx {
  position: relative;
  text-align: center;
}

.image {
  width: 260px;
}
