body {
  background-color: whitesmoke;
  box-sizing: border-box;
}

.movie-card-header {
  align-items: center;
  background-color: #039be5;
  display: flex;
  height: 100px;
  justify-content: center;
  text-transform: uppercase;
}

.movie-card-footer {
  align-items: center;
  background-color: #039be5;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-top: 50px;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.footer-text {
  color: #f8f9fa;
  font-family: Courier New , Courier , monospace;
  font-size: 15px;
  margin: 0;
  text-align: center;
}

.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-text {
  font-size: 30px;
  margin: 30px auto;
}

.loader {
  animation: spin 2s linear infinite;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

@keyframes spin {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
}

.add-card-button {
  border: 1px solid #039be5;
  border-radius: 2px;
  display: flex;
  font-size: 22px;
  margin: 30px auto;
  text-align: center;
  width: 200px;
}

.add-card-button:hover {
  background-color: #039be5;
  color: whitesmoke;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 30px 30px;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  overflow: hidden;
  width: 400px;
}

.movie-card-image {
  object-fit: cover;
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-storyline {
  color: #6c757d;
  font-size: 14px;
  margin: 0 0 8px;
}

.movie-card-details {
  color: #039be5;
  padding: 4px;
  text-align: center;
}

.movie-card-details:hover {
  background-color: #039be5;
  color: whitesmoke;
}

.details-card {
  margin: 50px auto;
  width: 90%;
}

.details-image {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.details-title {
  color: #039be5;
  font-size: 26px;
  font-weight: 500;
}

.details-subtitle {
  font-size: 20px;
  margin: 0;
}

.details-storyline {
  font-size: 16px;
}

.details-genre {
  font-size: 16px;
}

.details-rating {
  background-color: #039be5;
  border-radius: 2px;
  color: white;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 9px;
  width: 150px;
}

.details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details-buttons {
  display: flex;
  justify-content: space-around;
}

.details-button {
  align-items: center;
  border: 1px solid #039be5;
  border-radius: 2px;
  display: flex;
  height: 35px;
  justify-content: center;
  text-align: center;
  width: 100px;
}

.details-button:hover {
  background-color: #039be5;
  color: whitesmoke;
}

.form {
  margin: 50px auto;
  width: 80%;
}

.submit-button {
  background-color: #039be5;
  color: whitesmoke;
  cursor: pointer;
  margin-top: 20px;
  padding: 5px 20px;
}
