body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 16px;
}

.movie-card-header {
  background-color: #343a40;
  display: flex;
  font-family: Costa Ptf Regular , Segoe UI , Verdana , sans-serif;
  height: auto;
  justify-content: center;
}

.menii {
  left: 2em;
  position: absolute;
  top: 2em;
}

.page-title {
  color: #f8f9fa;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}

.loading {
  left: 50%;
  position: absolute;
  top: 30%;
}

.links {
  padding: 0.5em;
}

.links:hover {
  background-color: gray;
}

.movie-edit {
  border: 2px solid gray;
  margin: 3em auto;
  padding: 1em 1.5em;
  width: 50%;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.movie-card {
  background-color: white;
  border: 2px double rgba(0, 0, 0, 0.125);
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 25px;
  overflow: hidden;
  width: 300px;
}

.movie-details {
  background-color: lightgrey;
  border: 2px solid rgba(0, 0, 0, 0.125);
  height: 70%;
  margin: 3em auto;
  padding: 1.5em;
  width: 85%;
}

.movie-card-image {
  height: 50%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #343a40;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.movie-card-rating {
  background-color: burlywood;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-start;
  padding: 12px 20px;
}
