body, div, h2, img, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  box-sizing: border-box;
}

.movie-card {
  border: 1px solid red;
  margin: 10px;
  width: 400px;
}

.movie-card img {
  width: 350px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 1260px;
}